/*** RESET ***/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** VARIABLES ***/

/** color properties **/
$black-clr: #000;
$blackish-clr: rgba(0, 0, 0, 0.7);
$white-clr: #fff;
$light-clr: #f2f2f2;
$heading-clr: #e6e6e6;
$font-clr: #ccc;
$link-clr: #b3b3b3;
$bg-clr: #004280;
$border-clr: #0084ff;

/** font properties **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
$l-height: 1.6;
$l-space: 0.5px;

/** media variables **/
$tablet-min: 36rem;
$tablet-max: 62rem;
$phone-max: 35.9375rem;
$hamburger-max: 47.5rem;

/*** SMOOTH SCROLLING ***/
html {
  scroll-behavior: smooth;
}

/*** GLOBAL STYLE ***/
body {
  color: $black-clr;
  font-family: "Roboto", sans-serif;
  line-height: $l-height;
  letter-spacing: $l-space;

  /* Small devices (landscape phones: 575px) */
  @media (max-width: $phone-max) {
    font-size: 90%;
  }
}
