/*** RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** VARIABLES ***/
$clr-dark: rgba(0, 0, 0, 0.7);
$clr-light: rgb(185, 185, 185);
$bg-clr: #96e8ff;
$f-size: 1.2em;
$l-height: 1.6;
$l-space: 0.5px;

/*** SMOOTH SCROLLING ***/
html {
  scroll-behavior: smooth;
}

/*** GLOBAL STYLE ***/
body {
  color: $clr-dark;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $f-size;
  line-height: $l-height;
  letter-spacing: $l-space;
  /* min-height: 200vh; */
  /* Background */
  /* background-color: $bg-clr;
  background-image: url("./../img/green-trees-under-white-sky-2790395.jpg"); */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2349ce20' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%231f8827' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%233eb020' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236ea576' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%233e7631' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%231b4b25' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%233bae25' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2337914e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2381c277' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2338744b' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2353a149' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%232a7e47' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"); */
  /* background-attachment: fixed;
  background-size: cover; */
}
