/*** IMPORTS ***/
@import "globals";

/*** HEADER SECTION ***/
header {
  min-height: 100vh;
  background-image: url("./../img/landing-bg.jpg");
  background-attachment: fixed;
  background-size: cover;

  .logo-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      text-align: center;

      .logo-img {
        width: 20rem;
        transition: all 0.5s ease-in;

        &:hover {
          opacity: 0.7;
          transform: scale(1.05);
        }
      }
    }
  }
}

/** NAVBAR SECTION **/
nav {
  width: 100%;
  background-color: $clr-dark;
  position: fixed;
  opacity: 0.7;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
      margin: auto;
      padding: 0.5rem 2rem;
      color: $clr-light;

      a {
        /* font-size: $f-size; */
        color: $clr-light;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: #f8f556;
        }

        .logo-img {
          width: 75px;
          background-attachment: fixed;
          background-size: cover;
          transition: all 0.5s ease-in;

          &:hover {
            opacity: 0.9;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

/*** MAIN SECTION ***/
main #about,
#gallery,
#goc {
  min-height: 100vh;
  padding: 7rem 0;
}

/** NEWS SECTION **/
#news {
  min-height: 100vh;
  padding: 7rem 3rem;
  background-color: rgb(4, 61, 114);
  color: rgb(185, 185, 185);

  h2 {
    padding: 3rem 0;
  }

  .news-container {
    margin-bottom: 3rem;
    padding: 1rem 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease-in;
    text-align: justify;

    &:hover {
      cursor: pointer;
      padding: 1rem;
      border: 1px solid rgb(0, 132, 255);
      background-color: rgb(0, 66, 128);
    }

    .author-and-time {
      padding: 0.5rem 0;
      font-style: italic;
      font-size: small;
      text-indent: 0.5rem;
    }

    .news-info {
      padding: 0.5rem;
    }

    .news-content {
      padding: 0 1rem;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: rgb(0, 66, 128);

      p {
        padding-bottom: 1rem;
      }
    }
  }
}

/** GALLERY SECTION **/
#gallery {
  h3 {
    text-align: center;
  }
  .img-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: url("./../img/gray-trail-rails-between-green-leaf-trees-2.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;

    padding: 0.5rem;

    .img-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      max-width: 24.5%;

      /* Small devices (landscape phones, 576px and up) */
      @media (max-width: 576px) {
        max-width: 100%;
      }

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 576px) and (max-width: 992px) {
        max-width: 45.5%;
      }

      /* Large devices (desktops, 992px and up) */
      /* @media (min-width: 768px) and (max-width: 992px) {
        max-width: 32.5%;
      } */

      .img-item {
        padding: 0.5rem;
        width: 100%;
        height: auto;
        opacity: 0.7;
        transition: all 0.5s ease-in;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }
}

/*** FOOTER SECTION ***/
footer {
  padding: 7rem 0;
  min-height: 100vh;

  background-image: url("./../img/abandoned-forest-industry-nature-gray.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: #fff;

  h2 {
    text-align: center;
    padding: 0 0 3rem 0;
  }

  h3 {
    text-align: center;
  }

  .footer-info {
    padding: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */

    .footer-info-item {
      padding: 1.5rem;

      ul {
        list-style-type: none;
      }
    }
  }

  .friends-and-family {
    h3 {
      text-align: center;
    }

    .friends-and-family-container {
      width: 100%;
      height: auto;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      img {
        padding: 2rem;

        width: 200px;
        height: 150px;
      }
    }
  }

  .footer-copyright {
    width: 100;
    height: auto;

    text-align: center;

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #f8f556;
      }
    }
  }
}
