/*** IMPORTS ***/
@import "normalize";
@import "globals";

/*** HEADER SECTION ***/
header {
  position: relative;
  min-height: 100vh;
  background-image: url("./../img/landing-bg-02.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .logo-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      text-align: center;

      .logo-img {
        width: 20rem;
        transition: all 0.5s ease-in;
        /* animation */
        animation-name: logo;
        animation-duration: 0.8s;
        animation-delay: 3s;
        animation-iteration-count: 2;

        /* Small devices (landscape phones: 575px) */
        @media (max-width: $phone-max) {
          filter: invert(100%);
        }

        /* logo animation */
        @keyframes logo {
          0% {
            transform: scale(1);
          }
          10% {
            transform: scale(1.01);
          }
          20% {
            transform: scale(1.015);
          }
          30% {
            transform: scale(1.02);
          }
          40% {
            transform: scale(1.025);
          }
          50% {
            transform: scale(1.03);
          }
          60% {
            transform: scale(1.025);
          }
          70% {
            transform: scale(1.02);
          }
          80% {
            transform: scale(1.015);
          }
          90% {
            transform: scale(1.01);
          }
          100% {
            transform: scale(1);
          }
        }

        &:hover {
          opacity: 0.7;
          transform: scale(1.05);
        }
      }
    }
  }
}

/** NAVBAR SECTION **/
nav {
  width: 100%;
  background-color: $blackish-clr;
  position: fixed;
  z-index: 1;
  overflow: hidden;

  ul {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.15rem;

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      padding: 0 0 0 0.5rem;
    }

    .hamburger {
      display: none;
      padding: 1.15rem;
      color: $light-clr;

      /* Navbar Hamburger - 760px */
      @media (max-width: $hamburger-max) {
        display: block;
        width: fit-content;
      }
    }

    /* Navbar Hamburger - 760px */
    @media (max-width: $hamburger-max) {
      flex-direction: column;
      justify-content: end;
    }

    .responsive {
      display: flex !important;
      margin: 0 !important;
      padding: 0.5rem 1.4rem;
    }

    /* li */
    .nav-item {
      margin: auto;
      display: flex;

      /* Navbar Hamburger - 760px */
      @media (max-width: $hamburger-max) {
        display: none;
      }

      a {
        margin: auto;
        background-color: transparent;
        font-weight: bold;
        color: $link-clr;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s ease-in;

        &:hover {
          color: $light-clr;
        }

        /* Navbar Hamburger - 760px */
        @media (max-width: $hamburger-max) {
          margin: 0;
        }
      }

      .slash {
        padding: 0 0.5rem;
        color: $link-clr;
      }

      .nav-link {
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $light-clr;
          transition: width 0.5s;
        }

        &:hover::after {
          width: 100%;
          transition: width 0.3s;
        }
      }
    }
  }
}

/*** ABOUT SECTION ***/
#about {
  padding: 0 4rem 2rem 4rem;
  min-height: 100vh;
  background-image: url("./../img/bridge-clouds-cloudy-dark-clouds.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: $font-clr;

  /* Medium devices (tablets: 576px - 992px) */
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones: 575px) */
  @media (max-width: $phone-max) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h1 {
    margin: 0;
    padding: 3rem 0 0 0;
    font-size: 5.5rem;
    text-align: center;
    color: $heading-clr;
    text-transform: uppercase;

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      font-size: 4rem;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      font-size: 2.5rem;
    }
  }

  h2 {
    width: 90%;
    margin: auto;
    padding: 3rem 0.5rem 1rem 0.5rem;
    color: $heading-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $light-clr;
    }

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }
  }

  .about-article {
    width: 90%;
    margin: 0 auto 2rem auto;
    background-color: $blackish-clr;
    box-shadow: 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 4px solid $font-clr;
    border-radius: 7px;

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }

    p {
      padding: 0.5rem 1rem;
      text-align: justify;
      /* text-indent: 2.2rem; */

      &::first-letter {
        font-size: 110%;
      }
    }
  }
}

/** NEWS SECTION **/
#news {
  min-height: 100vh;
  padding: 0 4rem;
  background-image: url("./../img/alps-austria-blue-sky-clouds-dark2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: $font-clr;

  /* Medium devices (tablets: 576px - 992px) */
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones: 575px) */
  @media (max-width: $phone-max) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h2 {
    width: 90%;
    margin: auto;
    padding: 2rem 0.5rem 1.5rem 0.5rem;
    color: $heading-clr;

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }
  }

  .news-container {
    width: 90%;
    margin: auto;
    padding: 0.5rem;

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }

    .news-article {
      margin-bottom: 3rem;
      padding: 1rem 0.5rem;
      border-top: 1px solid $font-clr;
      border-bottom: 1px solid $font-clr;
      transition: all 0.4s ease-in;
      text-align: justify;

      &:hover {
        cursor: pointer;
        padding: 1rem;
        border: 1px solid $border-clr;
        background-color: $bg-clr;
      }

      h3 {
        margin: 0;

        /* Medium devices (tablets: 576px - 992px) */
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {
          width: 100%;
          margin: 0;
          color: $heading-clr;
        }

        /* Small devices (landscape phones: 575px) */
        @media (max-width: $phone-max) {
          width: 100%;
          margin: 0;
        }
      }

      .author-and-time {
        /* margin: 0; */
        padding: 0.5rem 0 1rem 0;
        font-size: 0.7rem;
        font-style: italic;
      }

      .news-info {
        margin: 0;
        padding: 0 0 1rem 0;

        &::first-letter {
          font-size: 110%;
        }
      }

      .news-content {
        /* margin: 0;
        padding: 0 1rem; */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: $bg-clr;

        p {
          padding-bottom: 1rem;
          /* text-indent: 2.2rem; */

          &::first-letter {
            font-size: 110%;
          }
        }
      }
    }
  }
}

/** GALLERY SECTION **/
#gallery {
  min-height: 100vh;
  padding: 0 4rem;
  background: url("./../img/gray-trail-rails-between-green-leaf-trees-2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  /* Medium devices (tablets: 576px - 992px) */
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones: 575px) */
  @media (max-width: $phone-max) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h2 {
    width: 90%;
    margin: auto;
    padding: 2rem 0 1rem 0.5rem;
    color: $heading-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $link-clr;
    }

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }
  }
  .img-gallery-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }

    .img-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 24.5%;

      /* Medium devices (tablets: 576px - 992px) */
      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        max-width: 45.5%;
      }

      /* Small devices (landscape phones: 575px) */
      @media (max-width: $phone-max) {
        max-width: 100%;
      }

      .img-item {
        padding: 1rem;
        width: 100%;
        height: auto;
        opacity: 0.9;
        transition: all 0.2s ease-in;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }
}

/** AMBIENCE **/
#ambience {
  padding: 0 4rem 2rem 4rem;
  min-height: 100vh;
  background-image: url("./../img/alps-austria-blue-sky-clouds-light1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: $font-clr;

  /* Medium devices (tablets: 576px - 992px) */
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones: 575px) */
  @media (max-width: $phone-max) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h2 {
    margin: 0;
    padding: 3rem 0 0 0.5rem;
    font-size: 3rem;
    text-align: center;
    color: $black-clr;
  }

  h3 {
    width: 90%;
    margin: auto;
    padding: 3rem 0.5rem 1rem 0.5rem;
    color: $black-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $black-clr;
    }

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }
  }

  .ambience-article {
    width: 90%;
    margin: 0 auto 2rem auto;
    background-color: $blackish-clr;
    box-shadow: 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 4px solid $font-clr;
    border-radius: 7px;

    a {
      text-decoration: none;
      color: #5183f5;

      &:hover {
        color: rgb(255, 196, 0);
        text-decoration: underline;
      }
    }

    ul {
      padding: 0 0 0 3rem;
    }

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      width: 100%;
      margin: 0;
    }

    p {
      padding: 0.5rem 1rem;
      text-align: justify;
      /* text-indent: 2.2rem; */

      /* &::first-letter {
        font-size: 110%;
      } */
    }
  }
}

/*** FOOTER SECTION ***/
footer {
  background-image: url("./../img/abandoned-forest-industry-nature-gray.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: $font-clr;

  /** GOOGLE MAP **/
  .ggl-map {
    .gmap-canvas,
    iframe {
      width: 100%;
      height: 53vh;
      border: none;
    }
  }

  h3 {
    margin: 0;
    padding: 0 0 1rem 0;
    color: $heading-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $light-clr;
    }
  }

  .footer-info {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Medium devices (tablets: 576px - 992px) */
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      justify-content: space-between;
    }

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      justify-content: start;
    }

    .item-1 {
      padding: 1rem 2rem !important;

      /* Medium devices (tablets: 576px - 992px) */
      @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        margin: auto;
      }

      /* Small devices (landscape phones: 575px) */
      @media (max-width: $phone-max) {
        margin: auto;
      }

      img {
        width: 14rem;
        height: auto;
        transition: all 0.3s ease-in;
        filter: invert(100%);

        &:hover {
          opacity: 0.9;
          transform: scale(1.02);
        }
      }
    }

    .footer-info-item {
      padding: 1rem 0.5rem;

      ul {
        list-style-type: none;

        .fas,
        .far {
          padding: 0 0 0.5rem 1rem;
        }
      }
    }
  }

  .friends-and-family {
    padding: 0 2rem 1rem 2rem;

    h3 {
      padding: 0 2rem 1rem 0.5rem;
      color: $heading-clr;

      &::after {
        content: "";
        display: block;
        width: 1.5rem;
        height: 4px;
        background: $light-clr;
      }
    }
  }

  .friends-and-family-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    .friends-and-family-item {
      margin: auto;

      a {
        color: $link-clr;
        text-decoration: none;

        &:hover {
          color: $light-clr;
        }
      }
    }
  }

  .footer-copyright {
    padding: 0.5rem 0;
    width: 100;
    height: auto;
    background-color: $black-clr;
    display: flex;

    /* Small devices (landscape phones: 575px) */
    @media (max-width: $phone-max) {
      flex-wrap: wrap;
    }

    .footer-copyright-item {
      margin: auto;

      /* Small devices (landscape phones: 575px) */
      @media (max-width: $phone-max) {
        width: 100%;
        text-align: center;
      }
    }

    .design-link {
      padding: 0 1rem 0 0;

      /* Small devices (landscape phones: 575px) */
      @media (max-width: $phone-max) {
        width: 100%;
        text-align: center;
      }

      a {
        text-decoration: none;
        color: $link-clr;

        &:hover {
          color: rgb(255, 196, 0);
        }
      }
    }
  }
}
