/*** IMPORTS ***/
@import "normalize";
@import "globals";

/*** HEADER SECTION ***/
header {
  position: relative;
  min-height: 100vh;
  background-image: url("./../img/landing-bg.jpg");
  background-attachment: fixed;
  background-size: cover;

  .logo-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      text-align: center;

      .logo-img {
        width: 20rem;
        transition: all 0.5s ease-in;

        &:hover {
          /* cursor: pointer; */
          opacity: 0.7;
          transform: scale(1.05);
        }
      }
    }
  }
}

/** NAVBAR SECTION **/
nav {
  width: 100%;
  background-color: $clr-dark;
  position: fixed;
  /* opacity: 0.7; */

  ul {
    height: 5rem;

    display: flex;
    justify-content: center;
    list-style-type: none;

    /* border-bottom: 1px solid #fff; */

    li {
      margin: auto;
      padding: 0.5rem 2rem;
      color: $clr-light;

      display: flex;

      /* &:hover {
        border-bottom: 2px solid #fff;
      } */

      a {
        margin: auto;
        background-color: transparent;
        /* font-size: $f-size; */
        color: $clr-light;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          color: #fff;
        }

        /* .logo-img {
          width: 75px;
          background-attachment: fixed;
          background-size: cover;
          transition: all 0.5s ease-in;

          &:hover {
            opacity: 0.9;
            transform: scale(1.05);
          }
        } */
      }

      .dash {
        padding: 0 0.5rem;
      }

      .nav-link {
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #fff;
          transition: width 0.5s;
        }

        &:hover::after {
          width: 100%;
          transition: width 0.3s;
        }
      }
    }
  }
}

/*** MAIN SECTION ***/
/* main,
#gallery,
#ambience,
#ggl-map {
  min-height: 100vh;
  padding: 7rem 0;
} */

/** ABOUT SECTION **/
#about {
  padding: 0 4rem 2rem 4rem;
  /* position: relative; */
  min-height: 100vh;
  /* background-image: url("./../img/alps-austria-blue-sky-clouds-dark.jpg"); */
  background-image: url("./../img/bridge-clouds-cloudy-dark-clouds.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: rgb(218, 218, 218);

  h1 {
    margin: 0;
    padding: 6rem 0 1.5rem 0;
    text-align: center;

    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) {
      font-size: 1.2em;
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 577px) and (max-width: 992px) {
      font-size: 1.5em;
    }
  }

  h2 {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0 1rem 1rem;

    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) {
      width: 100%;
      margin: 0;
      font-size: 1em;
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 576px) and (max-width: 992px) {
      width: 100%;
      margin: 0;
      font-size: 1.2em;
    }
  }

  .about-article {
    width: 80%;
    margin: auto;
    /* padding: 0.5rem; */
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 4px solid rgb(185, 185, 185);
    border-radius: 7px;

    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) {
      width: 100%;
      margin: 0;
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 576px) and (max-width: 992px) {
      width: 100%;
      margin: 0;
    }

    p {
      padding: 0 1rem 1rem 1rem;
      text-align: justify;
      text-indent: 2.5rem;
      /* border-left: 4px solid #000; */

      &::first-letter {
        font-size: 110%;
      }

      /* Small devices (landscape phones, 576px and up) */
      @media (max-width: 576px) {
        font-size: 0.8em;
      }

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 576px) and (max-width: 992px) {
        font-size: 1em;
      }
    }
  }
}

/** NEWS SECTION **/
#news {
  min-height: 100vh;
  padding: 6rem 4rem;

  background-image: url("./../img/alps-austria-blue-sky-clouds-dark2.jpg");
  background-attachment: fixed;
  background-size: cover;

  /* background-color: rgb(4, 61, 114); */
  color: rgb(185, 185, 185);

  h2 {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0 1rem 0.5rem;
  }

  .news-container {
    width: 80%;
    margin: auto;
    padding: 0.5rem;

    .news-article {
      margin-bottom: 4rem;
      padding: 1rem 0.5rem;
      border-top: 1px solid #b9b9b9;
      border-bottom: 1px solid #b9b9b9;
      transition: all 0.4s ease-in;
      text-align: justify;

      &:hover {
        cursor: pointer;
        padding: 1rem;
        border: 1px solid rgb(0, 132, 255);
        background-color: rgb(0, 66, 128);
      }

      .author-and-time {
        padding: 0.5rem 0;
        font-style: italic;
        font-size: small;
        /* text-indent: 0.5rem; */
      }

      .news-info {
        padding: 0 0 1rem 1rem;

        &::first-letter {
          font-size: 110%;
        }
      }

      .news-content {
        padding: 0 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: rgb(0, 66, 128);

        p {
          padding-bottom: 1rem;
          text-indent: 2.5rem;

          &::first-letter {
            font-size: 110%;
          }
        }
      }
    }
  }
}

/** GALLERY SECTION **/
#gallery {
  min-height: 100vh;

  background: url("./../img/gray-trail-rails-between-green-leaf-trees-2.jpg");
  background-attachment: fixed;
  background-size: cover;

  h2 {
    width: 80%;
    margin: auto;
    padding: 6rem 0 0.5rem 2rem;
    /* text-align: center; */
    color: #fff;
  }
  .img-gallery-container {
    width: 80%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0.5rem;

    .img-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      max-width: 24.5%;

      /* Small devices (landscape phones, 576px and up) */
      @media (max-width: 576px) {
        max-width: 100%;
      }

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 576px) and (max-width: 992px) {
        max-width: 45.5%;
      }

      /* Large devices (desktops, 992px and up) */
      /* @media (min-width: 768px) and (max-width: 992px) {
        max-width: 32.5%;
      } */

      .img-item {
        padding: 1rem;
        width: 100%;
        height: auto;
        opacity: 0.9;
        transition: all 0.2s ease-in;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }
}

/** AMBIENCE **/
#ambience {
  padding: 0 4rem 2rem 4rem;
  /* position: relative; */
  min-height: 100vh;
  /* background-image: url("./../img/alps-austria-blue-sky-clouds-dark.jpg"); */
  background-image: url("./../img/alps-austria-blue-sky-clouds-light1.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: rgb(218, 218, 218);

  h2 {
    margin: 0;
    padding: 6rem 0 2rem 0;
    text-align: center;
    color: #000;
  }

  h3 {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0 1rem 1rem;
    color: #000;
  }

  .ambience-article {
    width: 80%;
    margin: auto;
    /* border-left: 4px solid #000; */
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-left: 4px solid rgb(185, 185, 185); */
    border-left: 4px solid #000;
    border-radius: 7px;

    p {
      padding: 0 1rem 1rem 1rem;
      text-align: justify;
      text-indent: 2.5rem;
      /* border-left: 4px solid #000; */

      &::first-letter {
        font-size: 110%;
      }
    }

    /* p {
      padding: 0 0 1rem 1rem;
      text-align: justify;
      text-indent: 2rem;

      &::first-letter {
        font-size: 150%;
      } 
    }*/
  }
}

/*** FOOTER SECTION ***/
footer {
  /* padding: 6rem 0 0 0; */
  min-height: 100vh;

  background-image: url("./../img/abandoned-forest-industry-nature-gray.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: $clr-light;

  /*** GOOGLE MAP ***/
  .ggl-map {
    h3 {
      padding: 2rem 4rem;
    }
    .gmap-canvas,
    iframe {
      width: 100%;
      height: 53vh;
      border: none;
      /* opacity: 0.8;
      transition: all 0.2s ease-in;

    &:hover {
      opacity: 1;
    } */
    }
  }

  /* h2 {
    text-align: center;
    padding: 2rem 0;
  } */

  h3 {
    padding: 0 0 1rem 0;
  }

  .footer-info {
    padding: 1rem 2rem;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */

    .item-1 {
      padding: 1rem 2rem !important;

      img {
        width: 14rem;
        height: auto;
        transition: all 0.3s ease-in;

        &:hover {
          opacity: 0.9;
          transform: scale(1.02);
        }
      }
    }

    .footer-info-item {
      /* margin: auto; */
      padding: 1rem 0.5rem;

      ul {
        list-style-type: none;

        .fas,
        .far {
          padding: 0 0 0.5rem 2rem;
        }

        img {
          width: 230px;
          height: 170px;

          &:hover {
            border: 1px solid rgb(0, 132, 255);
          }
        }
      }
    }
  }

  .friends-and-family {
    padding: 0 2rem 1rem 2rem;

    h3 {
      padding: 0 2rem 1rem 2rem;
    }
  }

  .friends-and-family-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */

    .friends-and-family-item {
      margin: auto;

      a {
        color: $clr-light;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
      /* img {
        padding: 1rem;

        width: 150px;
        height: 100px;

        &:hover {
          border: 1px solid rgb(0, 132, 255);
        }
      } */
    }
  }

  .footer-copyright {
    padding: 0.5rem 0;
    width: 100;
    height: auto;
    background-color: #000;

    display: flex;

    .footer-copyright-item {
      margin: auto;
    }

    .design-link {
      padding: 0 1rem 0 0;

      a {
        text-decoration: none;
        color: $clr-light;
        &:hover {
          color: rgb(255, 196, 0);
        }
      }
    }
  }
}
