/*** IMPORTS ***/
@import "normalize";
@import "globals";

/*** HEADER SECTION ***/
header {
  position: relative;
  min-height: 100vh;
  background-image: url("./../img/landing-bg.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: darkish;

  .logo-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      text-align: center;

      .logo-img {
        width: 20rem;
        transition: all 0.5s ease-in;

        animation-name: logo;
        animation-duration: 0.8s;
        animation-delay: 3s;
        animation-iteration-count: 2;

        @keyframes logo {
          0% {
            transform: scale(1);
          }
          10% {
            transform: scale(1.01);
          }
          20% {
            transform: scale(1.015);
          }
          30% {
            transform: scale(1.02);
          }
          40% {
            transform: scale(1.025);
          }
          50% {
            transform: scale(1.03);
          }
          60% {
            transform: scale(1.025);
          }
          70% {
            transform: scale(1.02);
          }
          80% {
            transform: scale(1.015);
          }
          90% {
            transform: scale(1.01);
          }
          100% {
            transform: scale(1);
          }
        }

        &:hover {
          opacity: 0.7;
          transform: scale(1.05);
        }
      }
    }
  }
}

/** NAVBAR SECTION **/
nav {
  width: 100%;
  background-color: $blackish-clr;
  position: fixed;
  z-index: 1;
  overflow: hidden;

  ul {
    min-height: 5rem;

    display: flex;
    justify-content: center;
    list-style-type: none;

    .hamburger-bars {
      display: none;
      padding: 1.5rem 2rem;
      color: $light-clr;

      /* Navbar Hamburger - 760px */
      @media (max-width: 47.5rem) {
        display: block;
        width: fit-content;
      }
    }

    /* Navbar Hamburger - 760px */
    @media (max-width: 47.5rem) {
      flex-direction: column;
      justify-content: end;
    }

    .responsive {
      display: flex !important;
      margin: 0 !important;
      padding: 0.5rem 2rem;
    }

    /* li */
    .nav-item {
      margin: auto;
      display: flex;

      /* Navbar Hamburger - 760px */
      @media (max-width: 47.5rem) {
        display: none;
      }

      a {
        margin: auto;
        background-color: transparent;
        font-size: 1.2em;
        color: $link-clr;
        text-decoration: none;
        text-transform: uppercase;

        transition: all 0.5s ease-in;

        &:hover {
          color: $light-clr;
        }

        /* Medium devices (tablets) */
        @media (min-width: 36rem) and (max-width: 62rem) {
          font-size: 1em;
        }

        /* Navbar Hamburger - 760px */
        @media (max-width: 47.5rem) {
          margin: 0em;
        }

        /* Small devices (landscape phones) */
        @media (max-width: 36rem) {
          font-size: 0.8em;
        }
      }

      .slash {
        padding: 0 0.5rem;
        font-size: 1.2em;
        color: $link-clr;

        /* Medium devices (tablets) */
        @media (min-width: 36rem) and (max-width: 62rem) {
          font-size: 1em;
        }

        /* Small devices (landscape phones) */
        @media (max-width: 36rem) {
          font-size: 0.8em;
        }
      }

      .nav-link {
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $light-clr;
          transition: width 0.5s;
        }

        &:hover::after {
          width: 100%;
          transition: width 0.3s;
        }
      }
    }
  }
}

/*** ABOUT SECTION ***/
#about {
  padding: 0 4rem 2rem 4rem;
  min-height: 100vh;
  background-image: url("./../img/bridge-clouds-cloudy-dark-clouds.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: $font-clr;

  /* Medium devices (tablets) */
  @media (min-width: 36rem) and (max-width: 62rem) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones) */
  @media (max-width: 36rem) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h1 {
    margin: 0;
    padding: 6rem 0 1.5rem 0;
    text-align: center;
    color: $heading-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $light-clr;
      margin: auto;
      margin-top: 0.5rem;
    }

    /* Medium devices (tablets) */
    @media (min-width: 577px) and (max-width: 62rem) {
      padding: 6rem 0 0.5rem 0;
      font-size: 1.5em;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      padding: 6rem 0 0 0;
      font-size: 1.2em;
    }
  }

  h2 {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0 1rem 1rem;
    color: $heading-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $light-clr;
    }

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
      font-size: 1.2em;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
      font-size: 1em;
    }
  }

  .about-article {
    width: 80%;
    margin: auto;
    background-color: $blackish-clr;
    box-shadow: 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 4px solid $font-clr;
    border-radius: 7px;

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
    }

    p {
      padding: 0.5rem 1rem;
      text-align: justify;
      text-indent: 2.5rem;

      &::first-letter {
        font-size: 110%;
      }

      /* Medium devices (tablets) */
      @media (min-width: 36rem) and (max-width: 62rem) {
        font-size: 1em;
      }

      /* Small devices (landscape phones) */
      @media (max-width: 36rem) {
        font-size: 0.8em;
      }
    }
  }
}

/** NEWS SECTION **/
#news {
  min-height: 100vh;
  padding: 6rem 4rem;

  background-image: url("./../img/alps-austria-blue-sky-clouds-dark2.jpg");
  background-attachment: fixed;
  background-size: cover;

  /* background-color: rgb(4, 61, 114); */
  color: $font-clr;

  /* Medium devices (tablets) */
  @media (min-width: 36rem) and (max-width: 62rem) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones) */
  @media (max-width: 36rem) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h2 {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0 1rem 0.5rem;
    color: $heading-clr;

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
      font-size: 1.2em;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
      font-size: 1em;
    }
  }

  .news-container {
    width: 80%;
    margin: auto;
    padding: 0.5rem;

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones, 36rem and up) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
    }

    .news-article {
      margin-bottom: 4rem;
      padding: 1rem 0.5rem;
      border-top: 1px solid $font-clr;
      border-bottom: 1px solid $font-clr;
      transition: all 0.4s ease-in;
      text-align: justify;

      &:hover {
        cursor: pointer;
        padding: 1rem;
        border: 1px solid $border-clr;
        background-color: $bg-clr;
      }

      h3 {
        /* Medium devices (tablets) */
        @media (min-width: 36rem) and (max-width: 62rem) {
          width: 100%;
          margin: 0;
          font-size: 1.05em;
          color: $heading-clr;
        }

        /* Small devices (landscape phones) */
        @media (max-width: 36rem) {
          width: 100%;
          margin: 0;
          font-size: 0.9em;
        }
      }

      .author-and-time {
        padding: 0.5rem 0;
        font-style: italic;
        font-size: 0.9em;

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 36rem) and (max-width: 62rem) {
          font-size: 0.8em;
        }

        /* Small devices (landscape phones, 36rem and up) */
        @media (max-width: 36rem) {
          font-size: 0.7em;
        }
      }

      .news-info {
        padding: 0 0 1rem 1rem;

        &::first-letter {
          font-size: 110%;
        }

        /* Medium devices (tablets) */
        @media (min-width: 36rem) and (max-width: 62rem) {
          font-size: 1em;
        }

        /* Small devices (landscape phones) */
        @media (max-width: 36rem) {
          font-size: 0.8em;
        }
      }

      .news-content {
        padding: 0 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: $bg-clr;

        p {
          padding-bottom: 1rem;
          text-indent: 2.5rem;

          &::first-letter {
            font-size: 110%;
          }

          /* Medium devices (tablets) */
          @media (min-width: 36rem) and (max-width: 62rem) {
            font-size: 1em;
          }

          /* Small devices (landscape phones) */
          @media (max-width: 36rem) {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

/** GALLERY SECTION **/
#gallery {
  min-height: 100vh;

  background: url("./../img/gray-trail-rails-between-green-leaf-trees-2.jpg");
  background-attachment: fixed;
  background-size: cover;

  /* Medium devices (tablets) */
  @media (min-width: 577px) and (max-width: 62rem) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones) */
  @media (max-width: 36rem) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h2 {
    width: 80%;
    margin: auto;
    padding: 6rem 0 0.5rem 2rem;
    color: $heading-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $link-clr;
    }

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
      font-size: 1.2em;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
      font-size: 1em;
    }
  }
  .img-gallery-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
    }

    .img-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 24.5%;

      /* Small devices (landscape phones, 36rem and up) */
      @media (max-width: 36rem) {
        max-width: 100%;
      }

      /* Medium devices (tablets, 768px and up) */
      @media (min-width: 36rem) and (max-width: 62rem) {
        max-width: 45.5%;
      }

      .img-item {
        padding: 1rem;
        width: 100%;
        height: auto;
        opacity: 0.9;
        transition: all 0.2s ease-in;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }
}

/** AMBIENCE **/
#ambience {
  padding: 0 4rem 2rem 4rem;
  min-height: 100vh;
  background-image: url("./../img/alps-austria-blue-sky-clouds-light1.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: $font-clr;

  /* Medium devices (tablets) */
  @media (min-width: 36rem) and (max-width: 62rem) {
    padding: 0 3.5rem 2rem 3.5rem;
  }

  /* Small devices (landscape phones) */
  @media (max-width: 36rem) {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  h2 {
    margin: 0;
    padding: 6rem 0 2rem 0;
    text-align: center;
    color: $black-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $black-clr;
      margin: auto;
      margin-top: 0.5rem;
    }

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      /* width: 100%;
      margin: 0; */
      padding: 6rem 0 0.5rem 0;
      font-size: 1.2em;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      font-size: 1em;
      padding: 6rem 0 0 0;
    }
  }

  h3 {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0 1rem 1rem;
    color: $black-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $black-clr;
    }

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
      font-size: 1.05em;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
      font-size: 0.9em;
    }
  }

  .ambience-article {
    width: 80%;
    margin: auto;
    background-color: $blackish-clr;
    box-shadow: 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 4px solid #000;
    border-radius: 7px;

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      width: 100%;
      margin: 0;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      width: 100%;
      margin: 0;
    }

    p {
      padding: 0.5rem 1rem;
      text-align: justify;
      text-indent: 2.5rem;

      &::first-letter {
        font-size: 110%;
      }

      /* Medium devices (tablets) */
      @media (min-width: 36rem) and (max-width: 62rem) {
        font-size: 1em;
      }

      /* Small devices (landscape phones) */
      @media (max-width: 36rem) {
        font-size: 0.8em;
      }
    }
  }
}

/*** FOOTER SECTION ***/
footer {
  min-height: 100vh;
  background-image: url("./../img/abandoned-forest-industry-nature-gray.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: $font-clr;

  /** GOOGLE MAP **/
  .ggl-map {
    .gmap-canvas,
    iframe {
      width: 100%;
      height: 53vh;
      border: none;
    }
  }

  h3 {
    padding: 0 0 1rem 0;
    color: $heading-clr;

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 4px;
      background: $light-clr;
    }

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      font-size: 1.1em;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      font-size: 1em;
    }
  }

  .footer-info {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Medium devices (tablets) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      justify-content: end;
    }

    /* Small devices (landscape phones) */
    @media (max-width: 36rem) {
      justify-content: end;
    }

    .item-1 {
      padding: 1rem 2rem !important;

      /* Medium devices (tablets) */
      @media (min-width: 36rem) and (max-width: 62rem) {
        margin: auto;
      }

      /* Small devices (landscape phones) */
      @media (max-width: 36rem) {
        margin: auto;
      }

      img {
        width: 14rem;
        height: auto;
        transition: all 0.3s ease-in;

        &:hover {
          opacity: 0.9;
          transform: scale(1.02);
        }
      }
    }

    .footer-info-item {
      padding: 1rem 0.5rem;

      ul {
        list-style-type: none;

        li {
          /* Medium devices (tablets) */
          @media (min-width: 36rem) and (max-width: 62rem) {
            font-size: 1em;
          }

          /* Small devices (landscape phones) */
          @media (max-width: 36rem) {
            font-size: 0.8em;
          }
        }

        .fas,
        .far {
          padding: 0 0 0.5rem 1rem;
        }
      }
    }
  }

  .friends-and-family {
    padding: 0 2rem 1rem 2rem;

    h3 {
      padding: 0 2rem 1rem 0.5rem;
      color: $heading-clr;

      &::after {
        content: "";
        display: block;
        width: 1.5rem;
        height: 4px;
        background: $light-clr;
      }

      /* Medium devices (tablets) */
      @media (min-width: 36rem) and (max-width: 62rem) {
        font-size: 1.1em;
      }

      /* Small devices (landscape phones) */
      @media (max-width: 36rem) {
        font-size: 1em;
      }
    }
  }

  .friends-and-family-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    .friends-and-family-item {
      margin: auto;

      a {
        color: $link-clr;
        text-decoration: none;

        &:hover {
          color: $light-clr;
        }
      }
    }
  }

  .footer-copyright {
    padding: 0.5rem 0;
    width: 100;
    height: auto;
    background-color: $black-clr;

    display: flex;

    /* Medium devices (tablets: 36rem - 62rem) */
    @media (min-width: 36rem) and (max-width: 62rem) {
      font-size: 1em;
    }

    /* Small devices (landscape phones: 36rem) */
    @media (max-width: 36rem) {
      font-size: 0.8em;
    }

    .footer-copyright-item {
      margin: auto;
    }

    .design-link {
      padding: 0 1rem 0 0;

      a {
        text-decoration: none;
        color: $link-clr;

        &:hover {
          color: rgb(255, 196, 0);
        }
      }
    }
  }
}
