/*** CSS RESET ***/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** GLOBAL STYLE ***/

html {
  /* smooth page scrolling */
  scroll-behavior: smooth;

  /** 
   * fixing "headbutting the browser window", i.e.
   * navbar fixed position overlap
   */
  /* scroll-padding-top: 4rem; */
}

body {
  font-family: $primary-font-family;
  font-size: 1.2rem;
  color: $black-clr;
  line-height: $f-height;
  letter-spacing: $l-space;

  /* Small devices (landscape phones: 575px) */
  @media (max-width: $phone-max) {
    font-size: 90%;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $heading-font-family;
    font-style: italic;
    /* padding: 3rem 0 1rem 0; */
    line-height: $h-height;
  }
}
