/*** CSS RESET ***/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** GENERAL STYLES ***/

html {
  /* smooth page scrolling */
  scroll-behavior: smooth;
  /* scroll-padding-top: 4rem; */

  /** 
   * fixing "headbutting the browser window", i.e.
   * navbar fixed position overlap
   */

  font-size: 16px;
}

body {
  font-family: $primary-ff;
  font-size: 1.2rem;
  color: $grey;
  line-height: $f-height;
  letter-spacing: $l-space;

  /* Small devices (landscape phones: 575px) */
  /* @media (max-width: $phone-max) {
    font-size: 90%;
  } */

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $heading-ff;
    font-style: italic;
    /* padding: 3rem 0 1rem 0; */
    line-height: $h-height;
  }
}

p,
a,
li {
  @media (max-width: $desktop-min) {
    font-size: 1.1rem;
  }

  @media (max-width: $tablet-max) {
    font-size: 1rem;
  }

  @media (max-width: $phone-max) {
    font-size: 0.9rem;
  }
}

a {
  color: $grey;
}

/*** MAIN ***/

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/** NAVBAR SECTION **/

/* nav {
  width: 100%;
  max-width: 1440px;
  background-color: $dark-transparent-black;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid $darker-grey;

  ul {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 1.15rem; */

/* Small devices (landscape phones: 575px) */
/* @media (max-width: $phone-max) {
      padding: 0 0 0 0.5rem;
    }

    .hamburger {
      display: none;
      padding: 1.15rem;
      color: $darker-white; */

/* Navbar Hamburger - 760px */
/* @media (max-width: $hamburger-max) {
        display: block;
        width: fit-content;
      }
    } */

/* Navbar Hamburger - 760px */
/* @media (max-width: $hamburger-max) {
      flex-direction: column;
      justify-content: end;
    }

    .responsive {
      display: flex !important;
      margin: 0 !important;
      padding: 0.5rem 1.4rem;
    } */

/* li */
/* .nav-item {
      margin: auto;
      display: flex; */

/* Navbar Hamburger - 760px */
/* @media (max-width: $hamburger-max) {
        display: none;
      }

      a {
        margin: auto;
        background-color: transparent;
        font-weight: bold;
        color: $darker-grey;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s ease-in;

        &:hover {
          color: $darker-white;
        } */

/* Navbar Hamburger - 760px */
/* @media (max-width: $hamburger-max) {
          margin: 0;
        }
      }

      .slash {
        padding: 0 0.5rem;
        color: $darker-grey;
      }

      .nav-link {
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $darker-white;
          transition: width 0.5s;
        }

        &:hover::after {
          width: 100%;
          transition: width 0.3s;
        }
      }
    }
  }
} */

/** nav bar **/

nav {
  width: 100%;
  padding: 0 1rem;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid $darker-grey;

  display: flex;
  justify-content: end;

  @media (max-width: $hamburger-max) {
    flex-direction: row-reverse;
  }

  .brand {
    margin: auto auto auto 0;
    background-color: transparent;
    font-size: 1.2rem;
    color: $darker-grey;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      color: $darker-white;
    }

    @media (max-width: $hamburger-max) {
      margin: 1rem 0 auto auto;
      font-size: 1.1rem;
    }
  }

  ul {
    min-height: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style-type: none;

    @media (max-width: $phone-max) {
      padding: 0 0 0 0.5rem;
    }

    .hamburger {
      display: none;
      padding: 1.15rem;
      color: $darker-white;

      @media (max-width: $hamburger-max) {
        display: block;
        width: fit-content;
      }
    }

    @media (max-width: $hamburger-max) {
      flex-direction: column;
      justify-content: end;
      gap: 0;
    }

    .responsive {
      display: flex !important;
      margin: 0 !important;
      padding: 0.5rem 1.4rem;
    }

    /* li */
    .nav-item {
      margin: auto;
      display: flex;

      @media (max-width: $hamburger-max) {
        display: none;
      }

      a {
        margin: auto;
        background-color: transparent;
        color: $grey;
        text-decoration: none;
        transition: all 0.2s ease-in;

        &:hover {
          color: $darker-white;
        }

        @media (max-width: $hamburger-max) {
          margin: 0;
        }
      }

      .slash {
        padding: 0 0.5rem;
        color: $darker-grey;
      }
    }
  }
}

/* nav link underline */

/* .nav-link {
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: $darker-white;
    transition: width 0.5s;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
} */

/* content-container */

.content-container {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  background-color: $transparent-black;

  p {
    font-family: $primary-ff;

    a {
      color: $darker-white;
      text-decoration: none;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

/* to the top oh the page btn */
.page-top {
  padding: 0.5rem 1.5rem;
  position: fixed;
  right: 2.5rem;
  bottom: 3rem;
  z-index: 2;
  border: 1px solid $transparent-black;
  border-bottom: 1px solid $darker-grey;
  border-radius: 30px;
  color: $darker-grey;

  &:hover {
    background-color: $transparent-black;
    border: 1px solid $white;
    color: $white;
  }
}

/* content source */

.content-source {
  text-align: center !important;
}

/* aside nav */

aside {
  min-width: 23vw;
  padding: 1rem;
  border-left: 1px solid $light-grey;
  display: flex;

  .aside-nav {
    max-height: 80vh;
    border: none;
    justify-content: left;

    ul {
      max-width: 20vw;
      position: fixed;

      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-self: center;

      a {
        padding: 0.5rem 0;
        color: $grey;
        text-decoration: none;
        transition: all 0.2s ease-in;

        &:hover {
          color: $white;
        }

        @media (max-width: $hamburger-max) {
          margin: 0;
        }
      }
    }
  }
}

/*** MIXINS ***/

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}
