/*** VARIABLES ***/

/** color properties **/
$black: #0d0d0d;
$dark-transparent-black: #0d0d0dec;
$transparent-black: #0d0d0da7;
$white: #f9f9f9;
$darker-white: #f2f2f2;
$light-grey: #e6e6e6;
$grey: #ccc;
$darker-grey: #b3b3b3;
$dark-blue: #004280;
$blue: #0084ff;
$green: #001b0dba;
$lion: #ffc400;

/** font properties **/
$primary-ff: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$heading-ff: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$footer-ff: "Courier New", Courier, monospace;
$f-height: 1.6;
$h-height: 1.2;
$l-space: 0.5px;

/** media variables **/
$phone-max: 35.9375rem; /* small devices: 575px */
$tablet-min: 36rem; /* min-medium devices: 576px */
$tablet-max: 62rem; /* max-medium devices: 992px */
$desktop-min: 78.75rem; /* min desktop: 1260px */
$hamburger-max: 47.5rem; /* navbar hamburger: 760px */
